/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

*~
*.sql
*.zip
*.tar
*.map
.idea


*.vagrant/
.sass-cache

/others

/htdocs/*
/workbench

!/htdocs/assets
!/htdocs/assets/js
!/htdocs/assets/imgs
!/htdocs/assets/css/imgs
!/htdocs/assets/sass

!/htdocs/bower.json
!/htdocs/apps
!/htdocs/index.php
!/htdocs/.htaccess
!/htdocs/resources/.gitkeep



/notes.md
/filmoteca.sublime-project
/filmoteca.sublime-workspace
/nbproject/*
/.fontcustom-manifest.json
