/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

*~
*.sql
*.zip
*.tar


*.vagrant/

/others

/public/*

!/public/assets
!/public/bower.json
!/public/apps
!/public/index.php
!/public/.htaccess
!/public/resources/.gitkeep



/notes.md
/filmoteca.sublime-project
/filmoteca.sublime-workspace
/nbproject/*