bootstrap/compiled.php
vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

*~
*.sql
*.zip
*.tar
*.map
.idea


*.vagrant/
.sass-cache

others
app/storage/debugbar/

htdocs/*
workbench

htdocs/assets/css/filmoteca.css

!htdocs/assets
!htdocs/assets/js
!htdocs/assets/imgs
!htdocs/assets/css/imgs
!htdocs/assets/sass

!htdocs/bower.json
!htdocs/apps
!htdocs/index.php
!htdocs/.htaccess
!htdocs/resources/.gitkeep

app/config/prod/*
!app/config/prod/.gitkeep
app/config/staging/*
!app/config/staging/.gitkeep


notes.md
filmoteca.sublime-project
filmoteca.sublime-workspace
nbproject/*
.fontcustom-manifest.json
