<div class="modal-header">
	<h3 class="modal-title">Cambio de contraseña
		<button type="button" class="close" ng-click="$close()">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
	</h3> 

</div>

<div class="modal-body">
	<div ng-show="message" class="alert alert-info" ng-bind="message"></div>

	<form class="form-horizontal modal-body" role="form" name="change_password_form">

		<div class="form-group">
			<label class="control-label col-sm-3" for="old_password">Contraseña</label>
			<div class="col-sm-9">
				<input class="form-control" name="old_password" type="password" ng-required="true"
					min-length="6"
					ng-model="old_password" form-name="change_password_form">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3" for="password">Nueva contraseña</label>
			<div class="col-sm-9">
				<input class="form-control" name="new_password_a" type="password" ng-required="true"
					min-length="6"
					ng-model="new_password_a" form-name="change_password_form">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3" for="password">Confirmación contraseña</label>
			<div class="col-sm-9">

				<div class="input-group">
					<input class="form-control" name="new_password_b" type="password" ng-required="true"
						min-length="6"
						ng-model="new_password_b" form-name="change_password_form">
					<span class="glyphicon input-group-addon" aria-hidden="true" ng-class="{'glyphicon-ok' : areEquals(), 'glyphicon-remove' : !areEquals()}"></span>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">

	<div ng-class="{loading : loading}" ng-class="pull-right"></div>
	<button class="btn btn-danger" ng-click="$close()">Cancelar</button>
	<button type="button" class="btn btn-success pull-right" ng-disabled="change_password_form.$invalid || !areEquals()" ng-click="changePassword()">Cambiar</button>
</div>

	
