.calendar.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 0 !important;
    background-repeat: repeat-x;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}




.flm-section {
    background-color: #fff;
    margin-bottom: 25px;
}

.flm-section.programming .content {
    margin: 50px 0 30px;
}


.flm-section .header-programming {
    background-color: #2d2d2d;
    padding: 3px;
    width: 100%;

    h2 {
        color: #f9d932;
        margin-top: 5px;
        text-transform: uppercase;
    }

    h5 {
        color: #fff !important;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 13px;
    }
}


.calendar table { 
    width: 100%;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 6px;
    margin: 0 auto;

    caption {
        padding: 3px;
        color: $primary-color;
        font-size:15px;
        text-align: center;
        text-transform: capitalize;
        font-weight: 600;
        border: thin solid #a5a5a0;
        background-color: #FFFFFF;
    }

   tr {
        text-transform: capitalize;
        text-align: center;
    }
        

    td {

        .dayactive {
            background-color: #FFFFFF;
            border: thin solid #a5a5a0;
            border-radius: 3px;
            caption-side: bottom;
            color: #ffffff;
            padding: 0;            
            text-align: center;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        }

    } 

    tr, th, td {
        height: 20px;
        width: 20px;
    }

     td .none-exhibition {
            border: thin solid #a5a5a0;
            caption-side: bottom;
            padding: 0;
            text-align: center;
            border-radius: 15px;
            cursor: not-allowed;

            a {
                border: none !important;
                color: #a5a5a0;
            }
        } 


       td .disabled  {
            caption-side: bottom;
            cursor: not-allowed;
            color: #b0b0b0;
            background-color: #d2d2d2;
            border-radius: 3px;
        }   

    .dayactive {
        &:hover, &:focus {
        background-color: $primary-color;
        }

        a:hover, a:focus {
            color: #FFFFFF !important;
        }


    }

}


.search-autocomplete {
    width: 200px;
    height: 35px;
    }


.flm-section.programming .link {
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.link {
    cursor: pointer;
    padding: 5px;
}


.flm-section.programming .link {

    &:hover, &:focus {
        background-color: $primary-color;
        }
        a:hover, a:focus {
            color: #FFFFFF !important;
        }
}


