@import 'exhibitions-datepicker';

.exhibition-schedules .label{
    margin-right: 5px;
}

.subscribe-box.pull-right {
  margin-top: 65px;
}

.exhibition-schedules .label {
    display: inline-block;
}