$square-section-height: 100%;

$section-color: #E5E5E5;
$h1: 28px;
$h2: 24px;
$h3: 22px;
$h4: 18px;

.flm-section{

	margin-bottom: 15px !important;
	background-color: $section-color;

	h3, h4, h5, h6{
		text-transform: uppercase;
		font-weight: 600;
	}

	.header{
		padding: 3px 10px 5px 10px;
		background-color: $section-color;

		.small{
			margin-left: 10px;
		}
	}
}

.flm-subsection{
	margin-bottom: 0px;
}

.flm-section.carousel{

	img{
		width: 100%;
		max-height: 200px;
	}

	.caption{
		position: absolute;
		color: white;
		top: 50px;
		left: 80px;
	}
}

.flm-section.social-networks{

	.a-network{

		.header{
			color: white;
			background-color: $active-tab-color;
			padding: 5px;

			span{
				font-size: 36px;
			}

			h3{
				display: inline;
			}
		}
	}
}

.flm-section.expositions{
	
	.header{
		height: 120px;
	}

	img{
		width: 100%;
		height: auto;
	}
}

.flm-section.the-last{

}

.flm-section.filmoteca-invite{

}

.flm-section.banner-programacion{

	.link{
		padding: 0 !important;
		background-color: #e5e5e5 !important;
		margin: 0 auto !important;
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		height: 40px; 
		width: 100%; 
		
		.link img:hover{
		padding: 0 !important;
		opacity: 0.6;
		}
	}

	.link a img{
		margin: 0 !important;
		width: 100%;
		height: 100%;
	}
}

.flm-section.programming{

	.content {
		margin-bottom: 0px;
	}

	.container-fluid .content {
		margin-bottom: 0px;
	}

	.carrousel{
		width: 100%;
		
		.header{
			background-color: $active-tab-color;
		}

		h3{
			color: #F9D932;
			margin-top: 5px // Overrides bootstrap's rule.
		}

		h4{
			color: white;
		}

		img{
			width: 100%;
		}

		.slick-slider {
    		margin-bottom: 10px;
    	}
	}


	.film-subsection{
        
	    a{
	        color: #646464; 
	        display: block;
	    }

	    link{
	        margin-bottom: 5px;
	        background-color: $primary-color;
	    }
	}	

	.margin-top.link-group{
		
		.link-group{
			margin-top: 20px !important;
		}
	}

	.btn-home.margin-home{
		
		.margin-home{
			
			a{
				span{
					font-size: 20px;
					padding: 1px
				}
			}

			.link{
				margin-bottom: 2px;
				padding: 1px;
			}

			.hidden-button {
			  display: none;
			  visibility: hidden;
			} 
		}
	}
	

	.queries{

		h5{
			margin-bottom: 2px;
		}

		.btn-group{
			display: block
		}
		
		a{
			color: $tertiary-color;	
			display: block;

			span{
				font-size: 20px;
				padding: 1px
			}
		}

		a:hover{

			color: #f9d932;

		}

		.link{
			margin-bottom: 1px;
			background-color: $primary-color;
			padding: 2px;
			font-size: 13px;
		}

		.dropdown-menu {
		 background-color: $primary-color;

		 a:hover{
			color: #2d2d2d;
			}
		}

	}

	.digital-billboard{
	
		.image{
			width: 35%;
		}
		img{
			width: 300px;
			height: 58px;
		}

		.caption{
			width: 33%;
			margin-top: -2px;
			padding-right: 10px;
		}

		.icon-download{
			font-size: 25px;

		}

		.image pull-left{
		width: 60px;
		}

		a {
		color: #646464;
		font-size: 12px;
		}

		a:hover{
		color: #810069;
		}
	}
}

.flm-section.other-news{

}

.list-group-other-news{
	
	overflow-y: scroll;
	height: 210px;
	padding-left: 0;
}

.flm-section.visit{

	.visit-carousel img{
		height: 200px;
	}

	.visit-carousel img:hover{
	   opacity: 0.6;
	}

}

.flm-section.recommendations{

	.visit-carousel img{
		height: 200px;
		width: 80%;
	}

	.visit-carousel img:hover{
	   opacity: 0.6;
	}
}

.friend-sites{

	$internal-diameter :45px;
	
	hr{
		margin-top: 60px;
		height: 0;
		border: solid 2px $tertiary-color
	}

	.external-circle{
		background-color: white;
		padding: 10px;
		@include icon-circle($internal-diameter + 20px);
	}

	.icon-circle{
		@include icon-circle( $internal-diameter);
	}

	.toggle-button{
		width: 101px;
		margin-top: - ( $internal-diameter + ( $internal-diameter/2) );
		cursor: pointer;
		
		.icon-circle{
			font-size: 36px;
			color: $primary-color;
			background-color: $tertiary-color;			
		}
	}

	.toggle-button:hover{
		.icon-circle{
			color: $tertiary-color;
			background-color: $primary-color;	
		}
	}
}

.toolbar-fixed{

	position: fixed;

	background-color: $tertiary-color;
	overflow: hidden;
	padding: 0px;

	border-radius: 35px 0px 0px 0px;

	.icon{
		cursor: pointer;
	}
}

.social-networks-toolbar{
	top: 30%;
	right: 0px;
	font-size: 36px;

	a{
		color: $primary-color;
		margin: 10px;
		background-color: white;

		@include icon-circle(45px);
	}

	a:hover{
		color: $tertiary-color;
		background-color: $primary-color;
	}
}

.ceil-toolbar{
	bottom: 10%;
	right: 0px;
	position: fixed;
	text-transform: uppercase;
	color: $secondary-color;
	padding: 1px 12px 5px 12px;
	font-size: 11px;

	.icon-arrow-above{
		font-size: 36px;
	}

	a{
		color: $primary-color;
		text-decoration: none;
	}

	a:hover{
		color: $secondary-color;
	}
}


.slick-slide{
	position: relative;
}

.fb-wrap {
  width:100%;
  margin: 0 auto;

  .fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
		width: 100% !important;
	}
}

.preview-news{

    img{
        max-width: 75px;
        float: left;
        margin-right: 10px;
    }

    font-size: 12px;
    line-height: 1;
    min-height: 90px;

    h6 {
    color: #98157f;
    }
}

.more-news {
    margin-top: 30px;
}

.label-filmoteca{
    @include label-variant($primary-color);
}
