.loading {
    background: url('../imgs/loading.gif') no-repeat;
    display: inline-block;
    vertical-align: middle;
    padding-left: 36px;
    background-size: 32px 32px;
}

.loading-xsm{
    background-size: 25px 25px;
}

.loading-sm {
    background-size: 36px 36px;
    width: 32px;
    height: 32px;
}

.loading-md {
    background-size: 72px 72px;
}

.loading-lg {
    background-size: 144px 144px;
}


