@charset "UTF-8";
//-----------------------------------------------------------------------------
// 
// Nombre : _mixins.scss
// Ubicación : /public/assets/scss/_mixins.scss
// Descripción : Archivo SASS parcial que contiene mixins.
//
//
//-----------------------------------------------------------------------------


@mixin icon-circle($diameter){

	display: block;
	border-radius: 100%;
	width: $diameter; 
	height: $diameter;
	text-align: center;
}
