@charset "UTF-8";

//Prueba de imagen de película y me gusta con un maximo de 480px de ancho

@media screen and (max-width: 480px) {   

	.main-header{
		 .upper-navbar{

		 	a {
    			padding: 6px;
    		}
    	}
	}
	
	.row.film {
	    margin-left: 0 !important;
	    margin-right: 0 !important;

	    //Imagen de película y me gusta
	   
	   .col-xs-4.col-sm-6.col-md-5.col-lg-3 { 
			margin-left: 19px;

			img {
			    margin: 20px 65px 10px !important;
			    padding-top: 20 !important;
			    width: 120px !important;		    
			}

			.fb-like.fb_iframe_widget {
			    margin-left: 17px !important;
			}
		}

		//Panel pestañas

		.col-xs-12.col-sm-6.col-md-7.col-lg-9 { 
		    padding-left: 7px; 
		    padding-right: 0; 
		    width: 286px;
		}
	}

	.content.size-tab-show {
	    width: 100% !important;
	}
	
	.nav.nav-tabs.film-tabs {
	    width: 99% !important;
		background-color: #eee !important;
		height: 36px;
	} 

	.tab-content{
		padding-right: 8px;
	}

	.row.tab-icon {
	    margin: 0 !important;
	    height: 13px !important;

		.col-md-5.trailer-img{
	    	margin-top: -1px !important;
	    }

		.col-md-5 {
			width: 39px !important;

			.link img{
				padding-top: 3px !important;
				left: 4px !important;
				padding-right: 0 !important;
				max-width: 25px !important;
				height: 30px;
				border-left-width: 0px;
				margin-left: -14px;
				margin-top: -15px;
			}
		}

	    .col-md-7{ 
	        display: none;
	        visibility: hidden;
	    }
	}

	.panel.panel-default.no-line{ 
    	border-style: hidden !important;

	    table{
	        .bold{
 				font-size: 11px;	            
	        }
	    }
	}

	.more-schedules{ 
	    .extra-schedules table{
	        .table-responsive {
	            border: 0 none !important;
	        }
	    }
	}   

	.table-responsive {
	    border: 0 none !important;
	}

	li.margin {
		padding: 10px !important;
		width: 276px;
	}

	li.margin.synopsis-margin {
	    padding: 0 10px !important;
	}

	li.margin.schedules-margin {
	    padding: 10px 5px !important;
	}	

	li.trailer-size-content{
	  width: 249px !important;
	}

	//facebook sidebar

    .hidde-when-small{
        display: none;
        visibility: hidden;
    }

    .hidde-when-normal{
        display: flex;
        visibility: visible;
        margin-left: 8px;
        padding-bottom: 10px;
    }

	//Ciclos y funciones especiales

	.icon{
	    .col-xs-10.col-sm-11 { 
	        h3 {
	            padding-top: 5px !important;
	        }
	    }
	}
}















//Prueba de imagen de película y me gusta con un maximo de 640px de ancho

@media (min-width: 336px) and (max-width: 640px) {   

	.main-header{
		 .upper-navbar{

		 	a {
    			padding: 6px;
    		}
    	}
	}

	.row.film {
	    margin-left: 0 !important;
	    margin-right: 0 !important;

	    //Imagen de película y me gusta
	   
	   .col-xs-4.col-sm-6.col-md-5.col-lg-3 { 
			margin-left: 40px;

			img {
			    margin: 20px 60px 10px !important;
			    width: 130px;
			}

			.fb-like.fb_iframe_widget {
			    padding-left: 35px !important;
			}
		}

		//Panel pestañas

		.col-xs-12.col-sm-6.col-md-7.col-lg-9 { 
		    width: 279px !important;
		    padding-left: 0; 
		    padding-right: 0; 

		    a h2{
		        padding-left: 50px;
		    }

		    h6 p{
		        padding-left: 35px;
		    }
		}
	}

	.content.size-tab-show {
	    width: 100% !important;
	}
	
	.nav.nav-tabs.film-tabs {
		max-width: 114% !important;
		width: 114% !important;
		margin-left: 5px !important;
		height: 36px;
		

		li > a:hover, li > a:focus {
	        margin: 0 !important;
	    }

	    li.active > a, .nav-tabs.film-tabs > li.active > a:hover, .border > li.active > a:focus {
	        margin: 0 !important;
	    }
	} 

	.tab-content{
		padding-left: 5px;
	}

	.row.tab-icon {
	    margin: 0 !important;

	    .col-md-5.trailer-img{
	    	margin-top: -1px !important;
	    }

		.col-md-5 {
			width: 39px !important;

			.link img{
				padding-top: 3px !important;
				left: 4px !important;
				padding-right: 0 !important;
				max-width: 31px !important;
				height: 30px;
				border-left-width: 0px;
				margin-left: -10px;
				margin-top: -15px;
			}
		}

	    .col-md-7{ 
	        display: none;
	        visibility: hidden;
	    }
	}

	.panel.panel-default.no-line{ 
    	border-style: hidden !important;

	    table{
	        .bold{
 				font-size: 11px;	            
	        }
	    }
	}

	.more-schedules{ 
	    .extra-schedules table{
	        .table-responsive {
	            border: 0 none !important;
	        }
	    }
	}   

	li.margin {
		width: 318px;
		padding: 10px !important;
	}

	li.margin.synopsis-margin {
	    padding: 0 10px !important;
	}

	li.margin.schedules-margin {
	    padding: 10px 5px !important;
	}	

	//facebook sidebar

    .hidde-when-small{
        display: none;
        visibility: hidden;
    }

    .hidde-when-normal{
        display: flex;
        visibility: visible;
        padding-left: 10px;
        padding-bottom: 10px;
    }

	//Ciclos y funciones especiales

	.icon{
	    .col-xs-10.col-sm-11 { 
	        h3 {
	            padding-top: 13px !important;
	        }
	    }
	}
}








//Prueba de imagen de película y me gusta con un maximo de 1024x768 de ancho

@media (min-width: 641px) and (max-width: 768px) {   

	.main-header{
		 .upper-navbar{

		 	a {
    			padding: 6px;
    		}
    	}
	}

	.row.film {
	    margin-left: 0 !important;
	    margin-right: 0 !important;

	    //Imagen de película y me gusta
	   
	   .col-xs-4.col-sm-6.col-md-5.col-lg-3 { 
			margin-left: 40px;
			width: 233px !important;

			img {
			    margin: 20px 60px 10px !important;
			    width: 130px;
			}

			.fb-like.fb_iframe_widget {
			    padding-left: 35px !important;
			}
		}

		//Panel pestañas

		.col-xs-12.col-sm-6.col-md-7.col-lg-9 { 
		    width: 427px !important; 
		    padding-left: 0px !important;
		    padding-left: 0; 
		    padding-right: 0; 

		    a h2{
		        padding-left: 50px;
		    }

		    h6 p{
		        padding-left: 35px;
		    }
		}
	}

	.content.size-tab-show {
	    width: 100% !important;
	}
	
	.nav.nav-tabs.film-tabs {
		max-width: 114% !important;
		width: 111% !important;
		margin-left: 5px !important;
		height: 36px;
		

		li > a:hover, li > a:focus {
	        margin: 0 !important;
	        height: 37px;
	    }

	    li.active > a, .nav-tabs.film-tabs > li.active > a:hover, .border > li.active > a:focus {
	        margin: 0 !important;
	        height: 37px;
	    }
	} 

	.tab-content{
		padding-left: 5px;
	}

	.row.tab-icon {
	    margin: 0 !important;

	    .col-md-5.trailer-img{
	    	margin-top: -1px !important;
	    }

		.col-md-5 {
			width: 39px !important;

			.link img{
				padding-top: 3px !important;
				left: 4px !important;
				padding-right: 0 !important;
				max-width: 31px !important;
				height: 30px;
				border-left-width: 0px;
				margin-left: -10px;
				margin-top: -15px;
			}
		}

	    .col-md-7{ 
	        display: none;
	        visibility: hidden;
	    }
	}

	.panel.panel-default.no-line{ 
    	border-style: hidden !important;

	    table{
	        .bold{
 				font-size: 11px;	            
	        }
	    }
	}

	.more-schedules{ 
	    .extra-schedules table{
	        .table-responsive {
	            border: 0 none !important;
	        }
	    }
	}   

	li.margin {
		width: 470px;
		padding: 10px !important;
	}

	li.margin.synopsis-margin {
	    padding: 0 10px !important;
	    width: 470px;
	}

	li.margin.schedules-margin {
	    padding: 10px 5px !important;
	    width: 470px;
	}	

	//facebook sidebar

    .hidde-when-small{
        display: none;
        visibility: hidden;
    }

    .hidde-when-normal{
        display: flex;
        visibility: visible;
        padding-left: 10px;
        padding-bottom: 10px;
    }

	//Ciclos y funciones especiales

	.icon{
	    .col-xs-10.col-sm-11 { 
	        h3 {
	            padding-top: 13px !important;
	        }
	    }
	}
}






//Prueba de imagen de película y me gusta con un maximo de 1024px de ancho

@media (min-width: 768px) and (max-width: 1024px) {  

	.main-header{
		 .upper-navbar{

		 	a {
    			padding: 6px;
    		}
    	}
	}

	.row.film {
	    margin-left: 0 !important;
	    margin-right: 0 !important;

	    //Imagen de película y me gusta
	   
	   .col-xs-4.col-sm-6.col-md-5.col-lg-3 { 
			margin-left: 0;
			width: 174px;

			img {
			    margin: 50px 15px 10px !important;
			    width: 150px;
			}

			.fb-like.fb_iframe_widget {
			    padding-left: 19px !important;
			}
		}

		//Panel pestañas

		.col-xs-12.col-sm-6.col-md-7.col-lg-9 { 
		    width: 309px !important;
		    padding-left: 0; 
		    padding-right: 0;

		    a h2{
		        padding-left: 50px;
		    }

		    h6 p{
		        padding-left: 35px;
		    }
		}
	}

	.content.size-tab-show {
	    width: 100% !important;
	}
	
	.nav.nav-tabs.film-tabs {
		max-width: 114% !important;
		width: 114% !important;
		margin-left: 5px !important;
		height: 36px;
		

		li > a:hover, li > a:focus {
	        margin: 0 !important;
	    }

	    li.active > a, .nav-tabs.film-tabs > li.active > a:hover, .border > li.active > a:focus {
	    	height: 36px;
	        margin: 0 !important;
	    }

	    .border {
	    	height: 36px;
	    }
	} 

	.tab-content{
		padding-left: 5px;
	}

	.row.tab-icon {
	    margin: 0 !important;

	    .col-md-5.trailer-img{
	    	margin-top: -1px !important;
	    }

		.col-md-5 {
			width: 39px !important;

			.link img{
				padding-top: 3px !important;
				left: 4px !important;
				padding-right: 0 !important;
				max-width: 31px !important;
				height: 30px;
				border-left-width: 0px;
				margin-left: -10px;
				margin-top: -15px;
			}
		}

	    .col-md-7{ 
	        display: none;
	        visibility: hidden;
	    }
	}

	.panel.panel-default.no-line{ 
    	border-style: hidden !important;

	    table{
	        .bold{
 				font-size: 11px;	            
	        }
	    }
	}

	.more-schedules{ 
	    .extra-schedules table{
	        .table-responsive {
	            border: 0 none !important;
	        }
	    }
	}   

	li.margin {
		width: 352px;
		padding: 10px !important;
		height: 200px;
	}

	li.margin.synopsis-margin {
	    padding: 0 10px !important;
	}

	li.margin.schedules-margin {
	    padding: 10px 5px !important;
	}	

	//facebook sidebar

    .hidde-when-small {
        display: flex;
        visibility: visible;
    }

    .hidde-when-normal{
        display: none;
        visibility: hidden;
    }

	//Ciclos y funciones especiales

	.icon{
	    .col-xs-10.col-sm-11 { 
	        h3 {
	            padding-top: 13px !important;
	        }
	    }
	}
}






//Prueba de imagen de película y me gusta con un maximo de 2000px de ancho

@media (min-width: 1025px) and (max-width: 2000px) { 

	.row.film {

	    //Imagen de película y me gusta
	    
	    .col-xs-4.col-sm-6.col-md-5.col-lg-3 {
	        padding-left: 0 !important;
	        padding-right: 0 !important;
	        margin-left: 2px;
			width: 192px !important;
		} 
	}
}














//Prueba de buscador con un maximo de 671px de ancho

@media (min-width: 642px) and (max-width: 671px) {  


	.upper-navbar{
		
		.text-right.col-xs-6.col-sm-6.col-md-8.col-lg-10{
		    width: 53% !important;
		}
	}
}




//Prueba de buscador con un maximo de 641px de ancho

@media (min-width: 520px) and (max-width: 641px) {  


	.upper-navbar{
			
		.text-right.col-xs-6.col-sm-6.col-md-8.col-lg-10{
		    width: 62% !important; 
		}

		.col-xs-4.col-sm-3.col-md-4.col-lg-2{
			float: right !important;

		    .form-control{
		    	width: 55% !important;
		    }
		    
		}
	}

}




//Prueba de buscador con un maximo de 519px de ancho

@media (min-width: 382px) and (max-width: 519px) {  


	.upper-navbar{
		padding-bottom: 45px !important;
			
		.text-right.col-xs-6.col-sm-6.col-md-8.col-lg-10{
		    width: 99% !important; 
		}

		.col-xs-4.col-sm-3.col-md-4.col-lg-2{
		    margin-top: 20px !important;
		    float: right !important;
    		padding-left: 0 !important;
    		left: -33% !important;

		    .form-control{
		    	width: 67% !important;
		    }
		    
		}
	}

}



//Prueba de buscador con un maximo de 381px de ancho

@media (min-width: 320px) and (max-width: 381px) {  


	.upper-navbar{
		padding-bottom: 45px !important;
			
		.text-right.col-xs-6.col-sm-6.col-md-8.col-lg-10{
		    width: 103% !important; 
		}

		.col-xs-4.col-sm-3.col-md-4.col-lg-2{
		    margin-top: 20px !important;
		    float: right !important;
    		padding-left: 0 !important;
    		left: -66% !important;

		    .form-control{
		    	width: 100% !important;
		    }
		    
		}
	}

}

