body{
	color: $text-color;
}

a{
	color: $primary-color;
}

.link{
	background-color: $link-background-color;
	cursor: pointer;
	padding: 5px;

	a{
		text-decoration: none;
		color: $text-color;
	}
	
	icon{

	}
}

.icon-accessibility{
	color: $icon-accessibility-color;
}

.main-header{
	position: relative;
	z-index: 1;
	background-color: $primary-color;
	padding-top: 5px;

	.upper-navbar{
		width: 100%;
		background-color: $tertiary-color;
		padding-top: 25px; 
		padding-bottom: 10px;
		
		> div{
			max-width: $screen-md;
		}

		a{			
			padding: 15px;
		}

		.text-right.col-xs-6.col-sm-7.col-md-8.col-lg-9{
		    margin-top: -19px; 
		    padding-left: 0px;
		}

		.col-xs-6.col-sm-5.col-md-4.col-lg-3{
		    background-color: #e5e5e5 !important;
		    margin-top: -5px;
		    padding-top: 10px;
		    float: right !important;
		}

		.home-search{
			height: 13px;
			margin-top: -29px;
			width: 290px;
			padding-top: 4px;
		}

		.gsc-control-cse.gsc-control-cse-es{
			padding-top: 0px !important; 
			padding-bottom: 0px !important;
			border-top-width: 0px !important; 
			border-bottom-width: 0px !important;
		}

		.gsc-control-wrapper-cse{
			height: 0px !important;
			margin-top: -7px !important;
		}
		
		.gsc-input-box{
			width: 215px !important;
			height: 30px !important;
		} 

		.gsib_a{
			padding-top: 0 !important;
			padding-left: 0 !important;
		    padding-right: 0 !important;
		    padding-bottom: 14px !important;
		}

		.gsc-input{
			height: 28px !important;
			width: 190px !important;
			border-style: none !important;
			border-width: 0 0 2px 1px !important;
			margin: 0 0 0 -5px !important;
		    padding: 0 0 0 6px !important;
			background: rgba(0, 0, 0, 0) url("") no-repeat scroll left center !important;
		}

		.gsst_b{
			padding-right: 0px !important; 
			padding-left: 0px !important;
		}

		.gsc-search-button.gsc-search-button-v2{
			height: 29px !important;
		    margin-left: -13px !important;
		    margin-top: 5px !important;
		    min-width: 52px !important;
		    padding: 5px 17px !important;
		    width: 0 !important;
		}

		.gsst_a{
			margin-top: -10px !important;
			padding-left: 0 !important;
			margin-left: -7px !important;
		}

		.input-group.home-search{
			width: 290px !important;
		}
	}

	.strip{
		color: white;
		width: 100%;

		> div{
			margin: 10px auto;
			max-width: $screen-md;
			@include clearfix();
		}

		.icon-unam{
			font-size: 72px;
		}

		.icon-filmoteca{
			font-size: 72px;
		}

		.unam-text, .filmoteca-text{
			margin: 22px;
			color: white;
		}

		.sm-logo-unam{

			span{
				font-size: 12px !important;
			}
		}
		
		.sm-logo-filmo{

			span{
				font-size: 12px !important;
			}
			
			img{
				width: 100px !important;
			}

		}
	}
}

.toolbar{
	margin: 10px auto;
	max-width: $screen-md;
}

.container-fluid{
	max-width: 1024px !important;
	height: auto;

	.content{
		margin-bottom: 25px;
	}
}

//Esta regla es necesaria para .see-more.

.list-group-item:after{
	content: '';
	display: block;
	clear: right;
}

.see-more{
	float: right;
}

.see-more a:after{
	content: '...';
}

.see-more a:before{
	content: '+';
	margin-right: 4px;
	display: inline-block;
}

.items{
	
	@include clearfix();
	padding: 0px;

	.item{
	
		.year{
			color: #cc3333;
			font-size: 15px;
		}
	}
	
	.boxwinner{
		float: left;
		width: 23%;
		margin-left: 14px;
        height: 250px;
	}

    @media only screen and (max-width: 340px) {
        .item{
            width: 100%
        }
    }

    @media only screen and (min-width: 341px) and (max-width: 550px) {
        .item{
            width: 45%
        }
    }
}

.details {

    .cover {

        img {
            max-width: 100%;
            margin: 10px;
        }
    }
}

.exhibition-detail{

    .close{
        display:none;
    }
}

h2{
	color: $primary-color;
}

h5{
	color: $primary-color;
}

.bold{
	font-weight: bold;
}

.image-size-icon{
	max-width: 30px;
}

.col-md-5 a {
	font-size: 11px;
	padding-left: 10px;

}

.auditorium-name {
	color: #2d2d2d;
}

.col-sm-12 .image-billboard > .image-size-icon{
	max-width: 100%;
    width: 250px;
}

.col-sm-3 .image-billboard > .image-size-icon{
	max-width: 150px;
}

.col-md-4 img {
	margin: 15px 0 10px;
}

.image-size-thumbnail{
	max-width: 150px;
}

.image-size-max-width{
  width: 100%;
}

.angucomplete-dropdown img{
    width: 50px;
}


.panel-footer {
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #ddd;
    padding: 4px 15px;
}

.fiaflogo{
	width: 60px; 
	height: 60px;
}

.logounam{
	width: 250px; 
	height: 94px;
}
	

.footerwrapper {
	width: 100%;
	background-image:url("/assets/imgs/footer_bg.png");
	margin: 20px auto -26px;
	background-repeat:repeat-x;
}


.footercontent {
	text-align: center;
}