body{
	color: $text-color;
}

a{
	color: $primary-color;
}

.link{
	background-color: $link-background-color;
	cursor: pointer;
	padding: 5px;

	a{
		text-decoration: none;
		color: $text-color;
	}
	
	icon{

	}
}

.icon-accessibility{
	color: $icon-accessibility-color;
}

.main-header{
	position: relative;
	z-index: 1;
	background-color: $primary-color;
	padding-top: 5px;

	.upper-navbar{
		width: 100%;
		background-color: $tertiary-color;
		padding-top: 32px;
		padding-bottom: 0px;
		
		> div{
			max-width: $screen-md;
		}

		a{			
			padding: 15px;
		}
	}

	.strip{
		color: white;
		width: 100%;

		> div{
			margin: 10px auto;
			max-width: $screen-md;
			@include clearfix();
		}

		.icon-unam{
			font-size: 72px;
		}

		.icon-filmoteca{
			font-size: 72px;
		}

		.unam-text, .filmoteca-text{
			margin: 22px;
			color: white;
		}

		.sm-logo-unam{

			span{
				font-size: 12px !important;
			}
		}
		
		.sm-logo-filmo{

			span{
				font-size: 12px !important;
			}
			
			img{
				width: 100px !important;
			}

		}
	}
}

.toolbar{
	margin: 10px auto;
	max-width: $screen-md;
}

.container-fluid{
	max-width: 1024px !important;

	.content{
		margin-bottom: 25px;
	}
}

//Esta regla es necesaria para .see-more.
.list-group-item:after{
	content: '';
	display: block;
	clear: right;
}

.see-more{
	float: right;
}

.see-more a:after{
	content: '...';
}

.see-more a:before{
	content: '+';
	margin-right: 4px;
	display: inline-block;
}

.items{
	
	@include clearfix();
	padding: 0px;

	.item{
		float: left;
		width: 23%;
		margin-left: 14px;
        height: 250px;
	}

    @media only screen and (max-width: 340px) {
        .item{
            width: 100%
        }
    }

    @media only screen and (min-width: 341px) and (max-width: 550px) {
        .item{
            width: 45%
        }
    }
}

.details {

    .cover {

        img {
            max-width: 100%;
            margin: 10px;
        }
    }
}

.exhibition-detail{

    .close{
        display:none;
    }
}

h2{
	color: $primary-color;
}

h5{
	color: $primary-color;
}

.bold{
	font-weight: bold;
}

.image-size-icon{
	max-width: 30px;
}

.col-md-5 a {
	font-size: 11px;
	padding-left: 10px;

}

.auditorium-name {
	color: #2d2d2d;
}

.col-sm-12 .image-billboard > .image-size-icon{
	max-width: 100%;
    width: 250px;
}

.col-sm-3 .image-billboard > .image-size-icon{
	max-width: 150px;
}

.col-md-4 img {
	margin: 15px 0 10px;
}

.image-size-thumbnail{
	max-width: 150px;
}

.image-size-max-width{
  width: 100%;
}

.angucomplete-dropdown img{
    width: 50px;
}


.panel-footer {
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #ddd;
    padding: 4px 15px;
}