//
// TODO: This file has to be migrate to sass.
//

.static-pages-menu{
  margin-bottom: 25px;
}

.static-pages-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1;
}

.content h1{
  font-size: $h1;
  color: $primary-color;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.content h2{
  font-size: $h2;
}

.content h3{
  font-size:$h3;
}

.content h4{
  font-size:$h4;
}

.content .informacion h5{
  font-size:$h5;
  color: $primary-color;
}

.content .col-sm-12 {
    border-top: 4px solid #dfdfdf;
    margin-top: 30px;
}

.content .col-sm-12  .col-lg-6 {
    margin-top: 20px;
}

.content .row > ul {
    padding-left: 10px;
    padding-right: 10px;
}

/* The container */
.static-pages-menu > ul {
  display: block;
  position: relative;
  width: 100%;
}


/* The list elements which contain the links */
.static-pages-menu > ul li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* General link styling */
.static-pages-menu > ul li a {
  /* Layout */

  display: block;
  position: relative;
  margin: 0;
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #d9d9d9;
  padding: 9px 11px;
  /* Typography */

  font-family: Helvetica, Arial, sans-serif;
  color: $primary-color;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  /* Background & effects */

  background: #eaeaea;
}
/* Rounded corners for the first link of the menu/submenus */
.static-pages-menu > ul li:first-child > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 0;
}
/* Rounded corners for the last link of the menu/submenus */
.static-pages-menu > ul li:last-child > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}
/* The hover state of the menu/submenu links */
.static-pages-menu > ul li a:hover,
.static-pages-menu > ul li:hover > a {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: $primary-color;
  background: -webkit-linear-gradient($primary-color, #6a0659);
  background: -moz-linear-gradient($primary-color, #6a0659);
  background: linear-gradient($primary-color, #6a0659);
  border-color: transparent;
}
/* The arrow indicating a submenu */
.static-pages-menu > ul .has-sub > a::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid $primary-color;
}
/* The same arrow, but with a darker color, to create the shadow effect */
.static-pages-menu > ul .has-sub > a::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid #fff;
}
/* Changing the color of the arrow on hover */
.static-pages-menu > ul li > a:hover::after,
.static-pages-menu > ul li:hover > a::after {
  border-left: 4px solid #fff;
}
.static-pages-menu > ul li > a:hover::before,
.static-pages-menu > ul li:hover > a::before {
  border-left: 4px solid rgba(0, 0, 0, 0.25);
}
/* THE SUBMENUS */
.static-pages-menu > ul ul {
  position: absolute;
  left: 100%;
  top: -9999px;
  padding-left: 5px;
  opacity: 0;
  width: 230px;
  height: 20px;
  /* The fade effect, created using an opacity transition */

  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.static-pages-menu > ul ul li a {
  font-size: 11px;
}
/* Showing the submenu when the user is hovering the parent link */
.static-pages-menu > ul li:hover > ul {
  top: 0px;
  opacity: 1;
  z-index: 1;
  display:block;
}

.static-pages-menu a.selected,
.static-pages-menu li.current a {
    background-color: $primary-color !important;
    color: white;
}

.static-pages-menu > ul li a span{
    white-space: normal;
}

@media (max-width: 768px) {
  .static-pages-menu > ul ul {
    padding-left: 5px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    width: 100%;
    height: auto;
    position: static;
    display: none;
  }
}
