
// Override the base.css of mrjulluss/syntara package.

[class^="glyphicon-"],
[class*=" glyphicon-"] {
    display: inline-block;
    height: inherit;
    margin-top: 1px;
    line-height: inherit;
}

.datepicker table td{
    font-size: inherit;
    padding: inherit;
    border-bottom: inherit;
    color: inherit;
}

.view-animate-container{
  position:relative;
}

.messages-stack{
  position: fixed;
  z-index: 90;
  bottom: 25px;
  left: 50px;
  max-width: 400px;
  width: 100%;
}

.multicountry{
  min-width: 100%;
}

.multiyear{
  min-width: 100%;
}