$square-section-height: 100%;

$section-color: #F2F2F2;


.flm-section{

	margin-bottom: 25px;
	background-color: $section-color;

	h3, h4, h5, h6{
		text-transform: uppercase;
		font-weight: bold;
	}

	.header{
		padding: 3px 10px 5px 10px;

		.small{
			margin-left: 10px;
		}
	}
}

.flm-subsection{
	margin-bottom: 0px;
}

.flm-section.carousel{

	img{
		width: 100%;
		max-height: 250px;
	}

	.caption{
		position: absolute;
		color: white;
		top: 50px;
		left: 80px;
	}
}

.flm-section.social-networks{

	.a-network{

		.header{
			color: white;
			background-color: black;
			padding: 5px;

			span{
				font-size: 36px;
			}

			h3{
				display: inline;
			}
		}
	}
}

.flm-section.expositions{
	
	.header{
		height: 120px;
	}

	img{
		width: 100%;
		height: auto;
	}
}

.flm-section.the-last{

}

.flm-section.filmoteca-invite{

}

.flm-section.programming{
	
	.carrousel{
		width: 100%;
		
		.header{
			background-color: $active-tab-color;
		}

		h3{
			color: #F9D932;
			margin-top: 10px // Overrides bootstrap's rule.
		}

		h4{
			color: white;
		}

		img{
			width: 100%;
		}
	}

	.queries{

		.btn-group{
			display: block
		}
		
		a{
			color: $text-color;	
			display: block;

			span{
				font-size: 20px;
				padding: 10px
			}
		}

		a:hover{

			color: $primary-color;

		}

		.link{
			margin-bottom: 5px;
		}
	}

	.digital-billboard{
	
		.image{
			width: 35%;
		}
		img{
			width: 300px;
		}

		.caption{
			width: 33%;

			padding-right: 10px;
		}

		.icon-download{
			font-size: 25px;

		}

		.image pull-left{
		width: 60px;
		}

		a {
		color: white;
		font-size: 14px;
		}

		a:hover{
		color: $primary-color;
		}
	}
}

.flm-section.other-news{

}

.list-group-other-news{
	
	overflow-y: scroll;
	height: 210px;
	padding-left: 0;
}

.flm-section.visit{

	.visit-carousel img{
		height: 200px;
	}
}

.friend-sites{

	$internal-diameter :45px;
	
	hr{
		margin-top: 60px;
		height: 0;
		border: solid 2px $tertiary-color
	}

	.external-circle{
		background-color: white;
		padding: 10px;
		@include icon-circle($internal-diameter + 20px);
	}

	.icon-circle{
		@include icon-circle( $internal-diameter);
	}

	.toggle-button{
		width: 90px;
		margin-top: - ( $internal-diameter + ( $internal-diameter/2) );
		cursor: pointer;
		
		.icon-circle{
			font-size: 36px;
			color: $primary-color;
			background-color: $tertiary-color;			
		}
	}

	.toggle-button:hover{
		.icon-circle{
			color: $tertiary-color;
			background-color: $primary-color;	
		}
	}
}

.toolbar-fixed{

	position: fixed;

	background-color: $active-tab-color;
	overflow: hidden;
	padding: 5px;

	border-radius: 35px 0px 0px 0px;

	.icon{
		cursor: pointer;
	}
}

.social-networks-toolbar{
	top: 30%;
	right: 0px;
	font-size: 36px;

	a{
		color: $primary-color;
		margin: 10px;
		background-color: white;

		@include icon-circle(45px);
	}

	a:hover{
		color: $tertiary-color;
		background-color: $primary-color;
	}
}

.ceil-toolbar{
	bottom: 10%;
	right: 0px;
	position: fixed;
	text-transform: uppercase;
	color: white;
	padding: 10px;

	.icon-arrow-above{
		font-size: 36px;
	}

	a{
		color: white;
		text-decoration: none;
	}

	a:hover{
		color: $primary-color;
	}
}


.slick-slide{
	position: relative;
}

.fb-wrap {
  width:100%;
  margin: 0 auto;

  .fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
		width: 100% !important;
	}
}

.preview-news{

    img{
        max-width: 75px;
        float: left;
        margin-right: 10px;

    }

    font-size: 13px;
    line-height: 1;
    min-height: 90px;

    h6 {
    color: #98157f;
    }


}

.more-news {
    margin-top: 30px;
}
