.icon{
	background-image: url('imgs/icons.png');
	height: 64px;
	width: 64px;
	padding: 4px;
}

.icon-facebook{ background-position: 0px 0px}
.icon-twitter{ background-position: 0px 0px}
.icon-youtube{ background-position: 0px 0px}
.icon-google-plus{ background-position: 0px 0px}
.icon-vimeo{ background-position: 0px 0px}