//-----------------------------------------------------------------------------
// Menu principal
//-----------------------------------------------------------------------------

.main-menu-wrapper{

    background-color:#090909;
    border-color: #090909;
    width: 100%;
}

.main-menu{

    max-width: 1200px;
    margin: 0px auto;

    .navbar{
        margin: 0;
    }

    .navbar-brand-logo img{
         padding-top: 4px;
         padding-bottom: 4px;
         padding-left: 40px;
    }

    .navbar-inverse .navbar-collapse{
        border-color: none;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
        color: $tertiary-color;
        background-color: $primary-color;

    }

    .navbar-inverse .navbar-nav > li > a {
        color: #c6c6c6;
    }

    .dropdown a:hover{
        color: $primary-color;
        background-color: white;
    }

    .dropdown-menu li a{
        padding-bottom: 8px;   
        border-bottom: 2px solid $tertiary-color;
    }

    .dropdown-menu li a:hover{
        color: $primary-color;
        background-color: white;
        border-bottom: 3px solid $primary-color;
    }

}
