body{
	color: $text-color;
}

a{
	color: $primary-color;
}

.link{
	background-color: $link-background-color;
	cursor: pointer;
	padding: 5px;

	a{
		text-decoration: none;
		color: $text-color;
	}
	
	icon{

	}
}

.main-header{
	position: relative;
	z-index: 1;
}

.container-fluid{
	max-width:980px;
}

//Esta regla es necesaria para .see-more.
.list-group-item:after{
	content: '';
	display: block;
	clear: right;
}

.see-more{
	float: right;
}

.see-more a:after{
	content: '...';
}

.see-more a:before{
	content: '+';
	margin-right: 4px;
	display: inline-block;
}