//-----------------------------------------------------------------------------
// asdfasdf
// Nombre : filmoteca.scss
//
// Ubicación : /public/assets/scss/filmoteca.scss
//
// Descripción : Hoja de estilo principal del sitio. Este archivo únicamente
// debe tener directivas @import (bibliotecas y nuestros archivos Sass).
//
//-----------------------------------------------------------------------------

//------------------------------------------------------------------------------
// VARIABLES
//------------------------------------------------------------------------------

@import 'variables';

//------------------------------------------------------------------------------
// BIBLIOTECAS
//------------------------------------------------------------------------------

//
// Documentación en http://bourbon.io/docs/
//
@import '../../bower_components/bourbon/dist/bourbon';

@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

@import '../../bower_components/slick.js/slick/slick.scss';

//
// Bibliotecas estaticas (CSS)
//

@import '../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css';


//-----------------------------------------------------------------------------
// NUESTROS ARCHIVOS SASS
//-----------------------------------------------------------------------------

@import 'mixins';

// Iconos basados en fuentes (glyph)
@import 'fontcustom';

// Clases para el plugin parsley (validador)
@import 'parsley';

// Clases para el plugin slick (carrousel)
@import 'slick';

@import 'site';

@import 'header';

@import 'footer';

@import 'home';

@import 'admin';

@import 'exhibitions-datepicker';

@import 'static-pages-menu';

@import 'main-menu';

@import 'mini-billboard';

@import 'filmoteca-medal';

@import 'directorio';

@import 'angular-view-animation';